
@import "bootstrap";

$white: white;
$black: black;

.navbar {
  margin-bottom: 0;
  background: $white;
}
body {
  background: $white;
  color: $black;
  font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 12px;
  color: $white;
}
a:visited {
  color: $black;
}
.jumbotron {
  background: #4b7070;
  color: $white;
  text-align: center;
  p {
    color: $white;
    font-size: 15px;
  }
}
.link {
  color: $white;
}
.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
  background: #009879;
}
.btn-sm {
  background-color: $white;
  display: inline-block;
}
img,
video,
audio {
  margin-top: 20px;
  margin-below: 20px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  height: 300px;
}
caption {

  float: left;
  clear: both;

}
.login-box-body, .register-box-body {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  color: #666;
  padding: 25px;
}

.div-table {
  display: table;
  width: 100%;
  background-color: #eee;
  border: 1px solid #666666;
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;
  width: 200px;
  background-color: #ccc;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #009879;
}

.row_picture {
  content: "";
  clear: both;
  height: 200px;
  width: 100%;
  align-content: center;
}

.column_picture {
  content: "";
  clear: both;
  height: 200px;
  width: 50%;
}

.styled-table {
  width:auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.divTable {

  //table

  display: table;
  width:auto;
  background-color:#ccc;
  border:1px solid  #666666;
  border-spacing:1px;/*cellspacing:poor IE support for  this*/
  /* border-collapse:separate;*/

}
.headRow {

  // tr
  border:10px solid  #666666;
  font-size: 16px;
  font-weight: bold;
}
.divCell {

  //th

  text-align: left;
  border-collapse: collapse;
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:210px;
  background-color:#ccc;
}
.divRow {

  // tr

  border:5px solid  black;
  display:table-row;
  width:auto;
  border-bottom: 1px solid black;

  padding: 12px 15px;
}

.users_area
{
  width:auto;
  background-color:#65ab9d;
  align-content: center;
  border:1px solid  #666666;
  text-align: center;
  /* border-collapse:separate;*/
}

.custom-nav
{
  background-color:#65ab9d;
}