<nav class="navbar navbar-dark navbar-static-down navbar-expand-md">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav mr-auto right">
        </li>
      </ul>
    </div>
  </div>
</nav>